<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunday.imoocmusicdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Android 9.0 前台权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".activitys.PlayMusicActivity" />
        <activity android:name=".activitys.AlbumListActivity" />
        <activity android:name=".activitys.ChangePasswordActivity" />
        <activity android:name=".activitys.MeActivity" />
        <activity android:name=".activitys.RegisterActivity" />
        <activity android:name=".activitys.LoginActivity" />
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
